<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="TestComponents.TestListeners"></listener>
    </listeners>
    <test thread-count="5" name="Login Tests">
       <classes>
            <class name="tests.LoginTests"/>
       </classes>
    </test>
    <test thread-count="5" name="Register Tests">
        <classes>
            <class name="tests.RegisterTests"/>
        </classes>
    </test>

    <test thread-count="5" name="Shopping Cart Test">
        <classes>
            <class name="tests.ShoppingCartTest">
            </class>
        </classes>
    </test>
    <test name="Sorting Functionality Tests">
        <classes>
            <class name="tests.SortingTests">
            </class>
        </classes>
    </test>
</suite>